{
  'printWidth': 160,
  'doubleQuote': true,
  'tabWidth': 2,
  'semi': true,
  'singleQuote': true,
  'jsxBracketSameLine': true,
  'jsxSingleQuote': true,
  'quoteProps': 'as-needed',
  'useTabs': false,
  'filepath': '',
  'requirePragma': false,
  'insertPragma': false,
  'trailingComma': 'es5',
}
